.movie-info{
    background-color: rgb(89, 89, 89);
    border-radius: 30px;
    width: 30%;
    display: flex;
    column-gap: 15px;
}

.movie-img{
    width: 40%;
    border-radius: 30px;
}

p.overview{
    font-size: small;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}